@import url(color.css);

label + .radio-wrapper{
  margin-top: 1rem;
}


.radio-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  gap: 1rem;
}

.radio-wrapper:has(.radio-event-theme-inner){
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}


.radio-color-inner{
  width: 3rem;
  height: 3rem;
  border: .5rem solid var(--shape-button);
  border-radius: 50%;
  position: relative;

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    inset: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
  }

  &:hover, &:focus-within{
    cursor: pointer;
    border-color: var(--shape-hover);
  }

  &:has(:checked){
    outline: .2rem solid var(--brand-light);
  }

}


.radio-event-theme-inner{
  width: 12rem;
  height: auto; 
  outline: 2px solid var(--input-stroke);
  border-radius: .5rem;
  background-color: var(--shape-button);

  display: grid;
  justify-items: center;
  gap: .5rem;

  padding: .5rem;
  position: relative;


  & input,
  & input:focus,
  & input:hover {
    all: unset;
    inset: 0;
    position: absolute;
  }

  & img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: .5rem;
  }

  & label{
    font: var( --text-body-md)
  }

  &:hover, &:focus-within{
    cursor: pointer;
    outline: 3px solid var(--brand-light) ;
  }

  &:has(:checked){
    outline: 3px solid var(--brand-light) ;
  }

}
