@import url(./fileds/index.css);
form{
  margin-top: 2.5rem;
}

fieldset{
  border: none;
  display: grid;
}

.personal-data{
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--input-stroke);
}

legend{
  display: flex;
  font: var(--text-heading-sm);
  gap: .75rem;
  align-items: center;

  margin-bottom: 1.5rem;
  
  & img{
    width: 1.8rem;
    height: auto;
  }
}

fieldset + fieldset {
  margin-top: 3rem;
}